@model TrailLocker.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Trip</legend>

    <div class="display-label">current_weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.current_weight)
    </div>

    <div class="display-label">total_capacity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_capacity)
    </div>

    <div class="display-label">destination</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.destination)
    </div>

    <div class="display-label">weather</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weather)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
